@import "../../scss/variables.scss";

.form {
  background-color: $silverScreen;
  height: 50px;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  padding: 0 10px 0 10px;
  gap: 40px;
  z-index: 10;
}
