$black: #000;
$purple: #5036e6;
$white: #fff;
$lightGreen: #009465;
$darkGreen: #066c4c;
$lightBlack: rgba(26, 26, 26, 0.6);
$darkBlack: #1a1a1a;
$gray: #8e9199;

$longLake: #68757e;
$vintage: #d8ceb9;
$silverScreen: #a6aeaa;

$primaryBackground: $black;
$secondBackground: $purple;

$displaySize: (
  "mobile": 320px,
  "tablet": 768px,
  "desktop": 1440px,
);

$elementSize: (
  "mobile": 280px,
  "photo": 320px,
  "board": 416px,
  "tablet": 500px,
);
