$longLake: #68757e;
$vintage: #d8ceb9;
$silverScreen: #a6aeaa;

$displaySize: (
  "mobile": 400px,
  "tablet": 800px,
  "desktop": 1440px,
);

$elementSize: (
  "mobile": 280px,
  "photo": 320px,
  "board": 416px,
  "tablet": 500px,
);
